@use '../../styles//variables.scss' as *;

.matchesPage {
  min-height: calc(100vh - 125px);
  padding: 24px;
  background-color: #f5f5f5;
}

.header {
  margin-bottom: 24px;
  text-align: center;
}

.typography {
  margin: 0 10% !important;
}

.iconBackMatches {
  display: flex;


  .back_matches {
    position: relative;
    left: 2.5%;
    color: $primary-color;
    cursor: pointer;
  }
}

.matchList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.emptyState {
  text-align: center;
  padding: 40px 0;
  color: #666;
}

@media (max-width: 600px) {
  .matchesPage {
    min-height: calc(100vh - 205px);
  }
}