@mixin flex-collumn ($justify: center, $align: center) {
    display: flex;
    flex-direction: column;
    align-items: $align;
    justify-content: $justify;
}

// Form styles
@mixin formBox {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@mixin form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@mixin formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

@mixin label {
    font-weight: 500;
}

@mixin container_link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

@mixin auth_link {
    color: $primary-color;
    text-decoration: none;
    font-weight: 600;
}

@mixin error {
    color: red;

}


$primary-color: rgb(10, 73, 126);
$primary-color-transparent: rgba(10, 73, 126, 0.25);