.pagesLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contentLayout {
    margin-top: 75px;
    margin-bottom: 90px;
    flex: 1;
    min-height: calc(100vh - 165px);
    overflow-y: auto;
}