@use '../../styles/variables.scss' as *;

.chats {
    display: flex;
    margin-top: 5px;
    height: calc(100vh - 85px);
    overflow: hidden;
}

.lineV {
    display: inline-block;
    width: 2px;
    height: 100%;
    background-color: $primary-color;
}

.unitChat {
    width: calc(100vw - 365px);
    min-height: calc(100vh - 70px);
    overflow: hidden;
}

.notChat {
    @include flex-collumn;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #f4f6f8;

    span {
        font-size: 2rem;
        margin: 0;
        color: #073861;
    }
}

@media(max-width:600px) {
    .chats {
        height: calc(100vh - 165px);
    }

    .unitChat {
        width: 100vw;
        min-height: calc(100vh - 165px);
    }
}