@use '../../styles/variables.scss' as *;

.titleChats {
    @include flex-collumn();
    margin: 1% 2% 0% 2%;
}

.chats {
    display: flex;
    height: calc(100vh - 170px);
    overflow: hidden;
}

.header {
    margin-bottom: 24px;
}


.lineV {
    display: inline-block;
    width: 2px;
    height: 100%;
    background-color: $primary-color;

}

@media(max-width:600px) {
    .chats {
        height: calc(100vh - 260px);
    }
}