.menu_button {
    height: 2rem;
    width: 2rem;
    padding: 0;
}

.menu_icon {
    height: 1rem;
    width: 1rem;
}

.menu_item_icon {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
}

.menu_delete {
    color: red;
}