@use '../../styles/variables.scss' as *;

.section_home_above {
    @include flex-collumn;
    background-color: $primary-color;
    height: 250px;
    color: white;
    padding: 5% 2%;
    gap: 5%;

    h1 {
        font-size: 35px;
        margin: 0;
    }

    h2 {
        font-size: 18px;
        margin: 0;
        font-weight: lighter;
    }
}

.btn_home {
    display: flex;
    background-color: white;
    color: $primary-color;
    width: 280px;
    height: 63px;
    border: none;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    transition: 150ms ease-out;

}

.btn_home:hover {
    background-color: #E6E6E6;
    scale: 1.02;
}

.icon_search_btn_home,
.icon_plus_btn_home {
    width: 40px;
    margin: 0 10px;
}

.icon_plus_btn_home {
    font-size: 30px;
}

.icon_search_btn_home {
    font-size: 20px;
}

.text_btn_home {
    @include flex-collumn;
    align-items: flex-start;

    h5 {
        font-weight: normal;
        margin: 0;
        font-size: 14px;
    }
}

.section_home_below {
    padding: 2% 5%;
}
.lastReturnedItems {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
}