@use '../../styles/variables.scss' as *;

.body_footer {
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 90px;
    box-shadow: 0px -2px 5px 1px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh 2.5vw;
    box-sizing: border-box;
    flex-wrap: wrap;
    opacity: 0;
    transition: .5s ease-out;
}

.box_icons_footer {
    @include flex-collumn;
    height: 65px;
    width: 65px;
    border-radius: 5px;
    gap: 5px;
    color: $primary-color;
    cursor: pointer;
    transition: .5s ease-in;
}

.box_icons_footer_current {
    background: rgba(10, 73, 126, 0.1);
    transition: .5s ease-in;

}

.nav_footer {
    font-size: 15px;
    font-weight: 600;
}

.icons_footer {
    font-size: 35px;
}


@media(max-width:600px) {
    .body_footer {
        display: flex;
        opacity: 1;
    }

}