@use '../../../styles/variables.scss' as *;

.MuiPaper-root {
    width: 350px;
    height: 125px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
    cursor: pointer;
    transition: 0.5s ease-in-out !important;
}

.MuiPaper-root:hover {
    background-color: $primary-color-transparent ;
    transition: 0.5s ease-in-out;
}

.headerCard {
    display: flex;
    justify-content: space-between;
}

.horarioLastMessage {
    line-height: 2.1 !important;
}

.finalizado {
  opacity: 0.6;
}


@media(max-width:600px) {
    .MuiPaper-root {
        width: 100%;
    }

}