@use '../../styles/variables.scss' as *;

.body_header {
    display: flex;
    background-color: white;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 75px;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh 2.5vw;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.left_section_header,
.right_section_header,
.mid_section_header {
    display: flex;
    box-sizing: border-box;
    gap: 10px;
    flex-wrap: wrap;
}

.left_section_header {
    cursor: pointer
}

.logo_header {
    max-height: 50px;
    height: auto;
    width: auto;
}

.tittle_header {
    font-size: 30px;
    font-weight: bold;
    position: relative;
}

.user_header,
.plus_header {
    color: black;
    font-size: 45px;
    height: auto;
    width: auto;
}

.box_nav_header {
    display: flex;
    flex-direction: column;
    height: 25px;
    width: 65px;
    border-radius: 5px;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    cursor: pointer;
    transition: .5s ease-in;
    line-height: 2;
}

.box_nav_header_current {
    background: rgba(10, 73, 126, 0.1);
    transition: .5s ease-in;
}

.nav_header {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: $primary-color;
    position: relative;
}

.nav_header_current {
    text-decoration: underline 2px;
}

.nav_header::after {
    content: "";
    display: flex;
    width: 0%;
    height: 2px;
    background-color: $primary-color;
    position: absolute;
    bottom: 0.3;
    left: 0;
    transition: 0.2s ease-in-out;
    margin-top: -9px;
}

.nav_header:hover::after {
    width: 100%;
}

@media(max-width: 600px) {
    .mid_section_header {
        display: none;
    }
}