.matchesPage {
  min-height: calc(100vh - 125px);
  padding: 24px;
  background-color: #f5f5f5;
}

.header {
  margin-bottom: 24px;
  text-align: center;
  position: relative;

  .archiveIcon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}


.typography {
  margin: 0 10% !important;
}

.matchList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.emptyState {
  text-align: center;
  padding: 40px 0;
  color: #666;
}

@media (max-width: 600px) {
  .matchesPage {
    min-height: calc(100vh - 205px);
  }
}